body {
  background-color: #b0c4de;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;   /* 垂直置中 */
  justify-content: space-between; /* 左右分散 */
}

h1 {
  color: #191970;
  padding-left: 4%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
}

li {
  float: none;
}

li a {

  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  background-color: rgb(85, 127, 218);
}

img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f28b82;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #e06666;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.personal{
  display: flex;
}

h2 {
  color:black;
  padding: 5px 10px;
}

.work{
  padding: 5px 10px;
  margin: 5px 10px;
}

.skill{
  display: flex;
  gap: 100px;
  align-items: top;   /* 垂直置中 */
  padding: 5px 50px;
  margin: 5px 50px;
}